<a href="https://colab.research.google.com/github/RafaelVillasmil/BIOF309_Introduction_to_Python/blob/main/BIOF309_Introduction_to_Python_quiz_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.insert(2,9)
numbers

[1, 2, 9, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
myTpl = (1, 2, 2, 2, 3, 5, 5, 4)
myTpl

TlpA =  ('a', 'b', 'c')
TlpB = ('c', 'a', 'b') 
TlpA is TlpB

False

In [11]:
a = [1,2,3,4,5]
a[2:3] = []

[1, 2, 4, 5]

In [12]:
a = [1,2,3,4,5]
del a[2]
a

[1, 2, 4, 5]

In [13]:
set1 = {2,3,5,7}
set2 = {1,2,5,7,9}

set1.union(set2)

{1, 2, 3, 5, 7, 9}

In [14]:
set1 = {2,3,5,7}
set2 = {1,2,5,7,9}

set1 & set2

{2, 5, 7}

In [15]:
set1 = {2,3,5,7}
set2 = {1,2,5,7,9}

set1 | set2

{1, 2, 3, 5, 7, 9}

In [17]:
set1 = {2,3,5,7}
set2 = {1,2,5,7,9}

set1 -set2

{3}

In [18]:
if "cat" == "dog"
  print("prrrrr")
else:
  print("ruff")

SyntaxError: ignored

In [21]:
hair_color = "blue"
if 3>2:
  if hair_color == "black":
    print("You rock!")
  else:
    print("Boring")

Boring

In [24]:
x = 0
a = 5
b = 5
if a > 0:
  if b < 0:
    x = x + 5
  elif a > 5:
    x = x + 4
  else:
    x =x + 3
else:
  x + x + 2
print(x)

3

In [25]:
Userinput = 59
list(range(6,12,2))

[6, 8, 10]

In [26]:
x = 2
while x <= 10:
  print(x)
  x = x + 1

2
3
4
5
6
7
8
9
10

In [27]:
y = 5
while y >0:
  y=y-1
  print(y)

4
3
2
1
0

In [28]:
word="computer"
for num in range (1,6):
  print(word)

computer
computer
computer
computer
computer