<a href="https://colab.research.google.com/github/RafaelVillasmil/Assignments_BINF690/blob/main/RafaelV_unit_2_notebook_2b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 2 - Instructional DEMO 2b: Python semantics.
 - **Focus:** Basic python semantics. 
 - **Author(s):** Sara B-C.
 - **Date Notebook Last Modified:** 08.10.2020
 - **Quick Description:** Use this notebook to learn pyton semantics. We'll cover everything from assignments to operators in this. In the beginning, just hit play at each cell and watch things work. Once you are done, you can download the finished results. **There are some exercises to complete at the end!**

---
## Code outline
  0. Set up file stream (yep, this is in every notebook).
  1. Simple variable assignment.
  2. Multiple variable assignment.
  3. Basic math (arithmetic operations).   
  4. Comparison operators.
  5. Logical operators.
  6. Identity operators.
  7. Membership operators.
  8. Combine strings and paste.
  9. How to fail with data types.
  10. Example of future useful code.

---
## Additional notes
*   This semantics unit is foundationally key to future more complicated work in data manipulation and exploration as well as flow control and data analysis.

## 0. Lets set up filestream access
Follow the directions on screen as you run the code cell below and then you can access the data stored on your 'My Drive'. For many of you, this is the first python code you will ever execute knowingly, as most google infrastructure is python based (another reason why the language is growing)..You did this before, let's go!

In [1]:
import os
from google.colab import drive
drive.mount('/content/drive/')
os.chdir("/content/drive/My Drive/BINF309_Introduction_to_Python/example_data/")

Mounted at /content/drive/

Above you should now see the output "Mounted at /content/drive/". This means your storage is now connected to your notebook and its runtime. A runtime is the computer it will use to execute code and other computations. We'll cover what the above code means once you have learned some more python.

## 1. Simple variable assignment.

In [2]:
a = 2
x = 3
c = a*x

print(a)
print(x)
print(c)

2
3
6

## 2. Multiple variable assignment.
An example of how efficient you can be with python.

In [3]:
a = x = c = 3
d = a*x*c
print(a)
print(x)
print(c)
print(d)

3
3
3
27

## 3. Basic math (arithmetic operations).

Let's make some basic variables.

In [4]:
a = 5
b = 2
c = 3

We assuming you know the basics of addition `+`, subtraction `-`, multiplication `*` and division `/`. Note, division `/` is not the same as what you would use to continue a statement to a new line `\`, they go in different directions.  
Lets cover a few arithmetic operations that are useful but not as common.

In [5]:
# Modulus returns the remainder
c % b

1

In [6]:
# Exponents, not a ^ like in R
c**b

9

## 4. Comparison operators.

In [7]:
# Set some variables.
x = 10
y = 5
z = 5

In [8]:
# Are x and y equal?
x == y

False

In [9]:
# Is x greater than y?
x > y

True

In [10]:
# Is x not equal to z?
x != z

True

In [11]:
# Is y greater than or equal to z?
y >= z

True

## 5. Logical operators.
Great for compound criteria.

In [12]:
# Lets use the same variables
x = 10
y = 5
z = 5

In [14]:
# Does x = 10 and y + z = 10?
(x == 10) and (y + z == 10)

True

In [15]:
# But what about this?
(x == 9) or (y + z == 10)

True

Remember, there are certain words that can't be set as objects for reasons like these.

## 6. Identity operators.

In [16]:
# Make a list.
colors = ['red', 'blue', 'green']

In [17]:
# Is this a list data type?
type(colors) is list

True

In [18]:
# Is this not a list?
type(colors) is not list

False

## 7. Membership operators.

In [19]:
# Using the colors list, check if 'red' is in the list.
'red' in colors

True

In [20]:
# Maybe red is not in the colors list?
'red' not in colors

False

## 8. Combine strings and paste.

In [21]:
a = "python"
b = " "
c = "is fun"

In [22]:
a + b + c

'python is fun'

In [24]:
# Some more advances examples you will get details on later.
"%s sometimes %s." % (a, c)

'python sometimes is fun.'

## 9.  How to fail with data types.

In [25]:
# Combine and integer with a float is okay.
1 + 4.5

5.5

In [26]:
# Combine an integer or float with a string, you get an error.
a = "this_String"
a + 1

TypeError: ignored

In [27]:
# But if "a" actually represents a float or integer, you are okay!
a = 9.5
a + 1

10.5

## 10. Example of future useful code.

In [28]:
list1 = [1, 2, 3, 4, 5, 6, 7]
list2 = [5, 6, 7, 8, 9, 10]

def intersection(list1, list2): 
    list3 = [value for value in list1 if value in list2] 
    return list3 

print(intersection(list1, list2)) # Printing the intersection of the two lists.

[5, 6, 7]

**Makes sense, now on to some exercises ...**

# Unit 2 : Assignment # 2b
***Come here to prove your knowledge.***

Text cells will indicate a task.  
Write your commands in the empty code cells below them.

## 1. Assign a variable.

In [30]:
light_speed_mps = 299792458
light_speed_mps

299792458

## 2. Demonstrate simultaneous assignment of multiple variables in a single line.

In [36]:
apple, milk, eggs = "lbs", "gallon", "dozen"
print(apple) ; print(milk) ; print(eggs)

lbs
gallon
dozen

## 3. Use an exponent.

In [38]:
square_side = 4
print("Area of square with size ", square_side, " equals to ", square_side**2)

Area of square with size  4  equals to  16

## 4. Test if two variables are not equal to each other.

In [41]:
quadrilateral_height = 3
quadrilateral_width  = 3

print("Are the height and width lengths different? ",
      quadrilateral_height != quadrilateral_width)

Are the height and width lengths different?  False

## 5. Make an `and` statement.

In [44]:
number_sides = 4
quadrilateral_height = 3
quadrilateral_width  = 3
print("is the object a square? ",
      ((quadrilateral_height == quadrilateral_width) and (number_sides == 4)))

is the object a square?  True

## 6. Make an `or` statement.

In [46]:
number_sides = 4
quadrilateral_height = 3
quadrilateral_width  = 3
print("is the object not a square? ",
      ((quadrilateral_height != quadrilateral_width) or (number_sides != 4)))

is the object not a square?  False

## 7. Make a list and confirm if a string is part of that list.

In [54]:
blood_cancers = ['leukemia', 'lymphoma', 'myeloma']
print("Is leukemia a type of blood cancer?", 'leukemia'in blood_cancers)

Is leukemia a type of blood cancer? True

## 8. Did you like this unit? Combine two strings to give feedback on this unit.

In [57]:
lesson1 = "I learned about the difference betweent modulo and division operators. "
lesson2 = "The membership operators are useful in checking whether a value is present in a given string without using a loop. "
preamble = "Sara, your lesson is very well organized. The exercises are clear. "

preamble + lesson1 + lesson2

'Sara, your lesson is very well organized. The exercises are clear. I learned about the difference betweent modulo and division operators. The membership operators are useful in checking whether a value is present in a given string without using a loop. '

## 9. Try and generate an error by combining non-compatible data types.

In [66]:
dozen_size = 12
dozen_members= "units"
print("A dozen is defined a group of")
dozen_size + dozen_members

A dozen is defined a group of

TypeError: ignored

## 10. Confirm a number is an integer.

In [73]:
variable_a = 100
variable_b = 1000 / 10
print("is Variable A equal to Variable B?", a==b)
print("While Variable A is of", type(a), "and Variable B is of", type(b))

is Variable A equal to Variable B? True
while Variable A is of <class 'int'> and Variable B is of <class 'float'>

# Thanks, see you in the next unit!